﻿@{
    ViewBag.Title = "Contact";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Contact us
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget widget-brand">
                                <p> <strong>Sangha Boutique</strong> </p>
                                <strong>Address:</strong>
                                <p class="address">59 Taralea Cres NE</p>
                                <p class="address">Calgary, Alberta T3J4Y1</p>
                                <strong> <p class="phone">Phone: 587-436-4543</p> </strong>
                   </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget widget-brand">
                                <strong>Support:</strong>   <a href="mailto:jesie.sangha@gmail.com">jesie.sangha@gmail.com</a><br />
                                <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget widget-brand">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2504.661963904616!2d-113.9444345847078!3d51.11469674716122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371637580452a99%3A0x9cfec626243aac6a!2s59%20Taralea%20Crescent%20NE%2C%20Calgary%2C%20AB%20T3J%204Y1!5e0!3m2!1sen!2sca!4v1567382143948!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>