﻿@model SanghaBoutique.Web.ViewModels.CheckoutViewModels

@{
    ViewBag.Title = "Checkout";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-5">
                            <h3>Product</h3>
                        </div>
                        <div class="col-md-4">
                            <h3>Quantity</h3>
                        </div>
                        <div class="col-md-3">
                            <h3>Price</h3>
                        </div>
                    </div>
                </div>
                @if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
                {
                    foreach (var prod in @Model.CartProducts)
                    {
                        var productQuantity = @Model.CartProductIds.Where(x => x == prod.ID).Count();
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-5">
                                    <h3>  </h3>
                                    <p>@prod.Name: @prod.Description</p>
                                </div>
                                <div class="col-md-4">
                                    <span>@productQuantity</span>
                                </div>

                                <div class="col-md-3">
                                    <span>$@(prod.price * productQuantity) </span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="summary">
                <h3>Summary</h3>
                @if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
                {
                    <div>Subtotal:  $@Model.CartProducts.Sum(x => x.price * Model.CartProductIds.Where(productid => productid == x.ID).Count())</div>
                    <div>Shipping:  $8</div>
                    <div>Total:  $@(Model.CartProducts.Sum(x => x.price * Model.CartProductIds.Where(productid => productid == x.ID).Count()) + 8)</div>
                }

                <div class="form-row button-row submit">
                    <a class="btn btn-danger" href="@Url.Action("PlaceOrder", "Shop")"> Place Order </a>
                </div>

            </div>
        </div>
    </div>
</section>
