﻿@model SanghaBoutique.Web.ViewModels.FilterProductViewModel

@{
    var defaultImageURL = "/Content/images/placeholder-image.jpg";
}
<div class="filter-shop clearfix">
    <p class="showing-product float-right">
        Showing @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1) -  @(((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + (Model.Products.Count < Model.Pager.PageSize ? Model.Products.Count : Model.Pager.PageSize)) of @Model.Pager.TotalItems Products
    </p>
</div>

<div class="product-content product-threecolumn product-slidebar clearfix">
    <ul class="product style2 sd1">
        @foreach (var product in Model.Products)
        {
            var imageURL = string.IsNullOrEmpty(product.ImageURL) ? defaultImageURL : product.ImageURL;

            <li class="product-item">
                <div class="product-thumb clearfix">
                    <a data-href="#">
                        <img src="@imageURL" alt="Image" style="width:250px;height:300px;">
                    </a>
                </div>
                <div class="product-info clearfix" style="margin-top:25px">
                    <span class="product-title">@product.Name</span>
                    <div class="price">
                        <ins>
                            <span class="amount">$@product.price</span>
                        </ins>
                    </div>
                </div>
                <div class="add-to-cart text-center">
                    <a class="productAddToCart" data-id="@product.ID" data-href="#">ADD TO CART</a>
                </div>
                <a data-href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>
        }
    </ul>
</div>

@if (Model.Pager != null)
{
    <div class="product-pagination text-center clearfix">
        <ul class="flat-pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li class="previous">
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.CurrentPage - 1 })" class="pageDataLink"><i class="fa fa-angle-left"></i></a>
                </li>
            }
            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                <li class="active">
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = page })" title="" class="pageDataLink">@page</a>
                </li>
            }
            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li class="next">
                    <a data-href="@Url.Action("FilterProducts", "Shop", new { pageNo = Model.Pager.CurrentPage + 1 })" class="pageDataLink"><i class="fa fa-angle-right"></i></a>
                </li>
            }
        </ul>
    </div>
}

<input type="hidden" id="SortBy" value="@Model.SortBy" />
<input type="hidden" id="CategoryID" value="@Model.CategoryID" />
<input type="hidden" id="SearchTerm" value="@Model.SearchTerm" />

<script>
    $(".pageDataLink").click(function () {
        var url = $(this).attr("data-href");
        if (url != "" || url != undefined) {
            GetData(url);
        }
    });

    function GetData(durl) {
        $.ajax({
            url: durl,
            data: {
                minimumPrice: priceSlider.slider("values", 0),
                maximumPrice: priceSlider.slider("values", 1)
            }
        })
            .done(function (response) {
                $("#productsDiv").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    }

    var products;
    $(".productAddToCart").click(function () {
        var existingCookieData = $.cookie('CartProducts');
        if (existingCookieData != null && existingCookieData != undefined && existingCookieData != "") {
            products = existingCookieData.split('-');
        }
        else {
            products = [];
        }

        var productID = $(this).attr('data-id');
        products.push(productID);

        //cookie doesn't recognize comma so join by dash.
        $.cookie('CartProducts', products.join('-'), { path: '/' });//Cookie name is CartProducts
        updateCartProducts();
        swal("Done", "Product added to Cart!", "success");
    });
</script>



