﻿@using SanghaBoutique.Web.Code
@using SanghaBoutique.Web.ViewModels
@model SanghaBoutique.Web.ViewModels.ShopViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Shop
                </h2>
            </div>
        </div>
    </div>
</div>

<section class="flat-row main-shop shop-slidebar">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar slidebar-shop">
                    <div class="widget widget-sort-by">
                        <h5 class="widget-title">
                            Sort By
                        </h5>
                        <ul>
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)Enums.SortByEnums.Default, categoryID=Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)Enums.SortByEnums.Default ? "active" : string.Empty : string.Empty)">Default</a></li>
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)Enums.SortByEnums.Popularity, categoryID=Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)Enums.SortByEnums.Popularity ? "active" : string.Empty : string.Empty)">Popularity</a></li>
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)Enums.SortByEnums.PriceLowToHigh, categoryID=Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)Enums.SortByEnums.PriceLowToHigh ? "active" : string.Empty : string.Empty)">Price: low to high</a></li>
                            <li><a href="#" data-href="@Url.Action("FilterProducts", "Shop", new { sortBy = (int)Enums.SortByEnums.PriceHighToLow, categoryID=Model.CategoryID })" class="dataLink @(Model.SortBy.HasValue ? Model.SortBy.Value == (int)Enums.SortByEnums.PriceHighToLow ? "active" : string.Empty : string.Empty)">Price: high to low</a></li>
                        </ul>
                    </div>

                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Featured Categories
                        </h5>
                        <div class="tag-list">
                            @foreach (var category in Model.FeaturedCategories)
                            {
                                <a data-href="@Url.Action("FilterProducts", "Shop", new { categoryID = category.ID,sortBy=Model.SortBy })" class="dataLink @(Model.CategoryID.HasValue && Model.CategoryID.Value==category.ID ? "active": string.Empty)">@category.Name</a>
                            }
                        </div>
                    </div>

                    <div class="widget widget-price">
                        <h5 class="widget-title">Filter by price</h5>
                        <div class="price-filter">
                            <div id="slide-range"></div>
                            <p class="amount">
                                Price: <input type="text" id="amount" disabled="">
                            </p>
                        </div>
                    </div>

                    <a href="@Url.Action("Index", "Shop")" class="btn btn-danger">Reset Filters</a>
                </div>
            </div>

            <div class="col-md-9">
                <div id="productsDiv">
                    @{
                        var filterProductsViewModel = new FilterProductViewModel();
                        filterProductsViewModel.Products = Model.Products;
                        filterProductsViewModel.Pager = Model.Pager;

                        Html.RenderPartial("FilterProducts", filterProductsViewModel);
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var callTimeout;
    var priceSlider = $("#slide-range").slider({
        range: true,
        min: 0,
        max: @Model.MaximumPrice,
        values: [0, @Model.MaximumPrice ],
        slide: function (event, ui) {
            var minPrice = ui.values[0];
            var maxPrice = ui.values[1];
            $("#amount").val("$" + minPrice + ".00" + " - " + "$" + maxPrice + ".00");
            clearTimeout(callTimeout);
            callTimeout = setTimeout(GetSliderData, 500);
        }
    });

     function GetSliderData() {
      $.ajax({
            url:'@Url.Action("FilterProducts", "Shop")',
          data:
            {
                minimumPrice: priceSlider.slider("values", 0),
                maximumPrice: priceSlider.slider("values", 1)
            }
        })
            .done(function(response) {
                $("#productsDiv").html(response);
        })
            .fail(function(xMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
        });
    }

    function GetData(durl) {
     $.ajax({
            url: durl,
          data: {
               minimumPrice: priceSlider.slider("values", 0),
                maximumPrice: priceSlider.slider("values", 1)
            }
        })
            .done(function (response) {
                $("#productsDiv").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
             });
    }

    $(".dataLink").click(function () {
        var url = $(this).attr("data-href");
        if (url != "" || url != undefined) {
            GetData(url);
        }
    });
</script>