﻿@model SanghaBoutique.Web.ViewModels.CheckoutViewModels
@{
    ViewBag.Title = "PlaceOrder";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Thank you! Your order was successfully submitted!
                    </h2>
                    <div></div>
                    <div class="form-row button-row submit">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-danger">
                            Ok
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


