﻿
@{
    ViewBag.Title = "Index";
}


<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        What would you like to work with?
                    </h2>
                    <div>
                        <a href="@Url.Action("Index", "Category")">Category</a>
                    </div>
                    <div>
                        <a href="@Url.Action("Index", "Product")">Product</a>
                    </div>                 
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div>
</section>

