﻿@model SanghaBoutique.Web.ViewModels.NewProductViewModel
@{
    ViewBag.Title = "Create";
    var imageURL = "/Content/images/placeholder-image.jpg";

}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<h2>Create Product</h2>

<form id="createProduct">
    <div class="form-group">
        <label>Category:</label>
        <select class="form-control" name="CategoryID">
            @foreach (var category in Model.AvailableCategories)
            {
                <option value="@category.ID">@category.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="Name" required />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" name="Description" />
    </div>


    <div class="form-group">
        <label>Image:</label>
        <input id="imageURL" name="ImageURL" type="hidden" value="@imageURL" />
        <input id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
    </div>
    <div class="thumb">
        <img id="productImage" class="img-thumbnail img-fluid" src="@imageURL" />
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input class="form-control" name="Price" />
    </div>
    <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>

<script>
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");

        focusAction("tableContainer");
    });

     $("#imageUpload").change(function () {
        var element = this; //imageUpload is the element
         var formData = new FormData(); //to add data - image
       var totalFiles = element.files.length; //number of files - by default u can select one file only
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file); //add image to form data
        }

        $.ajax({
            type: "POST",
            url:  '@Url.Action("UploadImage", "shared")',             
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#imageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });


    $('#createProduct').validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            Description: {
               maxlength: 200
            },
            Price:
            {
                range: [1, 100000]
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum length is 3',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum length is 200'
            },          
             Price: {
                range: 'Price must be within 1 - 100000'
            }
        }
    });

    $("#saveBtn").click(function () {
        if ($("#createProduct").valid()){
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Create", "Product")', // '/Category/Create',
                data: $("#createProduct").serialize() //serialize all the data from form
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContainer");
                })
                .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Warning",
                        text: "Please enter all required fields.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                });
        }
        else {
            swal({
                title: "warning",
                text: "Please enter all required fields.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });
</script>