﻿@model SanghaBoutique.Web.ViewModels.ProductViewModel

@if (Model != null && Model.Product != null)
{
    var defaultImageURL = "/Content/images/placeholder-image.jpg";
    var imageURL = string.IsNullOrEmpty(Model.Product.ImageURL) ? defaultImageURL : Model.Product.ImageURL;
   
    <section class="flat-row main-shop shop-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="wrap-flexslider">
                        <div class="inner">
                            <div class="flexslider style-1 has-relative">                               
                                <img src="@imageURL" alt="Image">                             
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="product-detail">
                        <div class="page-title-heading">
                            <h1 class="title">@Model.Product.Name</h1>
                        </div>
                        <div class="inner">
                            <div class="content-detail">
                               <p>Description:  @Model.Product.Description </p>
                                <p>Category:  @Model.Product.Category.Name </p>
                                <div class="price">
                                    <ins><span class="amount">$ @Model.Product.price</span></ins>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}