﻿@model SanghaBoutique.Web.ViewModels.EditProductViewModel
@{
    ViewBag.Title = "Edit";
    var img = !string.IsNullOrEmpty(@Model.ImageURL) ? @Model.ImageURL : "/Content/images/placeholder-image.jpg";
}

<h2>Edit Product</h2>

<form id="editProduct">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="Name" value="@Model.Name" /> <!--Name is the property of Category class-->
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" name="Description" value="@Model.Description" />
    </div>
    <div class="form-group">
        <label>Image:</label>
        <input id="imageURL" name="ImageURL" type="hidden" value="@Model.ImageURL" />
        <input id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
    </div>
    <div class="thumb">
        <img id="productImage" class="img-thumbnail img-fluid" src="@img" />
    </div>
    <div class="form-group">
        <label>Price:</label>
        <input class="form-control" name="Price" value="@Model.Price" />
    </div>
    <button id="updateBtn" type="button" class="btn btn-danger">Update</button>
    <button id="cancelBtn" type="button" class="btn btn-danger">Cancel</button>
</form>



<script>

     $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImage", "shared")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#imageURL").val(response.ImageURL);
                    $("#productImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");

        focusAction("tableContainer");
    });

    $('#editProduct').validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            Description: {
                maxlength: 200
            },
            Price:
            {
                range: [1, 100000]
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum length is 3',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum length is 200'
            },
            Price: {
                required: 'Price is required',
                range: 'Price must be within 1 - 100000'
            }
        }
    });  
    $("#updateBtn").click(function () {
        if ($("#editProduct").valid()){
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Edit", "Product")',
                data: $("#editProduct").serialize()
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContainer");
                })
                .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Warning",
                        text: "Please enter all required fields.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                });
        }
        else {
            swal({
                title: "warning",
                text: "Please enter all required fields.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });

</script>