﻿@model SanghaBoutique.Web.ViewModels.ProductSearchViewModel

@{
    ViewBag.Title = "ProductTable";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchTxt" name="Search" value="@Model.SearchTerm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4">
                            <button class="form-control btn btn-primary" type="button" id="searchBtn">Search</button>
                        </div>
                        <div class="col-md-4">
                            <button class="form-control btn btn-primary" type="button" id="resetBtn">Reset</button>
                        </div>
                        <div class="col-md-4">
                            <button class="form-control btn btn-primary" type="button" id="newBtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table id="ProductsTable" class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Product</th>
                <th class="font-weight-bold">Category</th>
                <th class="font-weight-bold">Price</th>
                <th class="font-weight-bold wrap-td">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var prod in Model.Products)
                {
                    <tr>
                        <td>@prod.Name</td>
                        <td>
                            @if (@prod.Category != null)
                            {
                                <text> @prod.Category.Name</text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </td>
                        <td>@prod.price</td>
                        <td>
                            <button class="editBtn btn btn-danger" data-id="@prod.ID">Edit</button>
                            <button class="deleteBtn btn btn-danger" data-id="@prod.ID">Delete</button>
                            <button class="detailBtn btn btn-danger" data-id="@prod.ID">Details</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4">No products found</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @if (Model.Pager != null)
        {
            <div class="product-pagination text-center clearfix">
                <ul class="flat-pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="prev">
                            <a href="@Url.Action("Index", "Product", new { pageNo = Model.Pager.CurrentPage - 1 })" class="pageDataLink"><i class="fa fa-angle-left"></i></a>
                        </li>
                    }
                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                        <li class="active"><a href="@Url.Action("Index", "Product", new { pageNo = page })" title="" class="pageDataLink">@page</a></li>
                    }
                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="next">
                            <a href="@Url.Action("Index", "Product", new { pageNo = Model.Pager.CurrentPage + 1 })" class="pageDataLink"><i class="fa fa-angle-right"></i></a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<script>
     $(".pageBtn").click(function () {
       $.ajax({
            url:'@Url.Action("ProductTable", "Product")',
            data: {
                pageNo: $(this).attr("data-pageno"),
                search: '@Model.SearchTerm'
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
      $.ajax({
            url:'@Url.Action("ProductTable", "Product")',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

     $("#resetBtn").click(function () {
         var searchValue = '';
       $.ajax({
            url:'@Url.Action("ProductTable", "Product")',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

    $("#newBtn").click(function () {
       $.ajax({
            url: '@Url.Action("Create", "Product")',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
        focusAction("actionContainer");
    });

    $(".editBtn").click(function () {
       $.ajax({
            url:'@Url.Action("Edit", "Product")',
            data: {
                Id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
        focusAction("actionContainer");
    });

    $(".deleteBtn").click(function () {
        //Below Code from sweetalert.js website
        swal({
            title: "Confirm",
            text: "Are you sure want to delete this product?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: 'POST', //because we don't want it to hit GET version of Delete method plus send data
                        url: '@Url.Action("Delete", "Product")',
                        data: {
                            Id: $(this).attr('data-id')
                        }
                    })
                        .done(function (response) {
                            $("#tableContainer").html(response);
                            swal("Poof! Your product has been deleted!", {
                                icon: "success",
                            });
                        })
                        .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                            alert("Failed");
                        });
                }
                focusAction("actionContainer");
            });
    });

    $(".detailBtn").click(function () {
       $.ajax({
            url:'@Url.Action("Details", "Product")',
            data: {
                Id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
        focusAction("actionContainer");
    });
</script>
