﻿@model SanghaBoutique.Web.ViewModels.ProductsWidgetViewModel
@{
    var defaultImageURL = "/Content/images/placeholder-image.jpg";
}

@if (Model != null && Model.Products != null)
{
    if (!Model.isLatestProducts)
    {
        <ul class="flat-filter style-1 text-center max-width-682 clearfix">
            <li class="active"><a href="#" data-filter="*">All Product</a></li>

            @foreach (var category in Model.Products.Select(x => x.Category).ToList().Distinct())
            {
                <li><a href="#" data-filter=".@category.Name">For @category.Name</a></li>

            }
        </ul>
        <div class="divider h54"></div>
    }

    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 isotope-product clearfix">
            @foreach (var product in Model.Products)
            {
                var imageURL = string.IsNullOrEmpty(product.ImageURL) ? defaultImageURL : product.ImageURL;

                <li class="product-item @product.Category.Name">
                    <div class="product-thumb clearfix">
                        <a href="@Url.Action("Details","Product", new {product.ID})" class="product-thumb">
                            <img src="@imageURL" alt="image" style="width:250px;height:300px;">
                        </a>
                        @if (Model.isLatestProducts == true)
                        {
                            <span class="new">New</span>
                        }
                        else
                        {
                            <span class="new">Sale</span>
                        }
                    </div>
                    <div class="product-info text-center clearfix" style="margin-top:25px">
                        <span class="product-title">
                            @product.Name
                        </span>
                        <div class="price">
                            <ins>
                                <span class="amount">$@product.price</span>
                            </ins>
                        </div>                       
                    </div>
                </li>
            }
        </ul>
    </div>

}
