﻿@model SanghaBoutique.Web.ViewModels.CategorySearchViewModel
@{
    ViewBag.Title = "CategoryTable";
}

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchTxt" name="Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr=0">
                            <button class="btn btn-primary form-control" type="button" id="searchBtn">Search</button>
                        </div>
                        <div class="col-md-4 pr=0">
                            <button class="btn btn-primary form-control" type="button" id="resetBtn">Reset</button>
                        </div>
                        <div class="col-md-4 pr=0">
                            <button class="btn btn-primary form-control" type="button" id="newBtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Category</th>
                <th class="font-weight-bold">Products</th>
                <th class="font-weight-bold">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.Categories)
            {
                <tr>
                    <td>@cat.Name</td>
                    <td>
                        @cat.Product.Count
                    </td>
                    <td>
                        <button class="editBtn btn btn-danger" data-id="@cat.ID">Edit</button>
                        <button class="deleteBtn btn btn-danger" data-id="@cat.ID">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Pager != null)
    {
        <div class="product-pagination text-center clearfix">
            <ul class="flat-pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="prev">
                        <a href="@Url.Action("Index", "Category", new { pageNo = Model.Pager.CurrentPage - 1 })" class="pageDataLink"><i class="fa fa-angle-left"></i></a>
                    </li>
                }
                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                    <li class="active"><a href="@Url.Action("Index", "Category", new { pageNo = page })" title="" class="pageDataLink">@page</a></li>
                }
                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="next">
                        <a href="@Url.Action("Index", "Category", new { pageNo = Model.Pager.CurrentPage + 1 })" class="pageDataLink"><i class="fa fa-angle-right"></i></a>
                    </li>
                }
            </ul>
        </div>
    }

</div>
@{
    var url = @Url.Action("CategoryTable", "Category"); //action,controller
}
<script>
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        //make ajax call to search product without reloading the page
        $.ajax({
            url: '@Url.Action("CategoryTable", "Category")',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

    $("#newBtn").click(function () {
        //make ajax call to create new product without reloading the page
        $.ajax({
            url:   '@Url.Action("Create", "Category")',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

    $(".editBtn").click(function () {
         $.ajax({
            url: '@Url.Action("Edit", "Category")',
            data: {
                Id: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
                focusAction("actionContainer");
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

     $(".deleteBtn").click(function () {
        //Below Code from sweetalert.js website
        swal({
            title: "Confirm",
            text: "Are you sure want to delete this category?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        type: 'POST', //because we don't want it to hit GET version of Delete method plus send data
                        url: '@Url.Action("Delete", "Category")',
                        data: {
                            Id: $(this).attr('data-id')
                        }
                    })
                        .done(function (response) {
                            $("#tableContainer").html(response);
                            swal("Poof! Your category has been deleted!", {
                                icon: "success",
                            });
                        })
                        .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                            alert("Failed");
                        });
                }
            });
    });

     $("#resetBtn").click(function () {
         var searchValue = '';
       $.ajax({
            url:'@Url.Action("CategoryTable", "Category")',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });

     $(".pageBtn").click(function () {
       $.ajax({
            url:'@Url.Action("CategoryTable", "Category")',
            data: {
                pageNo: $(this).attr("data-pageno"),
                search: '@Model.SearchTerm'
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });
    });
</script>


