﻿
@{
    ViewBag.Title = "Create";//Name of method in the controller
      var imageURL = "/Content/images/placeholder-image.jpg";
}

<h2>Create Category</h2>

<form id="createCategory">
    <div class="form-group">
        <label>Name:<span class="text-danger"></span></label>
        <input class="form-control" name="Name" required/> <!--Name is the property of Category class-->
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" name="Description" />
    </div>  
    <div class="form-group">
        <label>Image:</label>
        <input id="imageURL" name="ImageURL" type="hidden" value="@imageURL" />
        <input id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
    </div>
    <div class="thumb">
        <img id="categoryImage" class="img-thumbnail img-fluid" src="@imageURL" />
    </div>
    <div>
        <label>Is Featured?</label>
        <input name="isFeatured" type="radio" value="true" checked />True
        <input name="isFeatured" type="radio" value="false" />False
    </div>
    <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>

<script>
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");

        focusAction("tableContainer");
    });

    
    $("#imageUpload").change(function () {
        var element = this; //imageUpload is the element
        var formData = new FormData(); //to add data - image
        var totalFiles = element.files.length; //number of files - by default u can select one file only
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file); //add image to form data
        }

        $.ajax({
            type: "POST",
            url:  '@Url.Action("UploadImage", "shared")',              
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#imageURL").val(response.ImageURL);                       
                    $("#categoryImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });      
    });


    $('#createCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            Description: {
               maxlength: 200
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum length is 3',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum length is 200'
            }
        }
    });

    $("#saveBtn").click(function () {
        if ($("#createCategory").valid()){      
            $.ajax({
                type: 'Post',
                url: '@Url.Action("Create", "Category")',
                data: $("#createCategory").serialize() //serialize all the data from form
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    $("#actionContainer").html("");
                    focusAction("tableContainer");
                })
                .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                    swal({
                        title: "Warning",
                        text: "Please enter all required fields.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                });
        }
        else {
            swal({
                title: "warning",
                text: "Please enter all required fields.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });
</script>