﻿@model SanghaBoutique.Web.ViewModels.EditCategoryViewModel

@{
    ViewBag.Title = "Edit";
    var trueChecked = Model.isFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.isFeatured ? "checked" : string.Empty;

    var img = !string.IsNullOrEmpty(@Model.ImageURL) ? @Model.ImageURL : "/Content/images/placeholder-image.jpg";
}

<h2>Edit Category</h2>

<form id="editCategory">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="Name" value="@Model.Name" /> <!--Name is the property of Category class-->
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input class="form-control" name="Description" value="@Model.Description" />
    </div>
    <div class="form-group">
        <label>Image:</label>
        <input id="imageURL" name="ImageURL" type="hidden" value="@Model.ImageURL" />
        <input id="imageUpload" name="Image" type="file" accept=".png,.jpg" />
    </div>
    <div class="thumb">
        <img id="categoryImage" class="img-thumbnail img-fluid" src="@img" />
    </div>

    <div class="form-group">
        <label>Is Featured?</label>
        <input name="isFeatured" type="radio" value="True" @trueChecked />True
        <input name="isFeatured" type="radio" value="False" @falseChecked />False
    </div>
    <button id="updateBtn" type="button" class="btn btn-primary">Update</button>
    <button id="cancelBtn" type="button" class="btn btn-primary">Cancel</button>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this; //imageUpload is the element
        var formData = new FormData(); //to add data - image
        var totalFiles = element.files.length; //number of files - by default u can select one file only
        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file); //add image to form data
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImage", "shared")',  
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#imageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
    $("#updateBtn").click(function () {
       $.ajax({
            type: 'Post',
            url:'@Url.Action("Edit", "Category")',   
            data: $("#editCategory").serialize() 
        })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
            })
            .fail(function (xMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });

        focusAction("tableContainer");
    });

    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");

        focusAction("tableContainer");
    });

    $('#editCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            Description: {
                maxlength: 200
            }
        },
        messages: {
            Name: {
                required: 'Name is required',
                minlength: 'Minimum length is 3',
                maxlength: 'Maximum Length is 50'
            },
            Description: {
                maxlength: 'Maximum length is 200'
            }
        }
    });
</script>