﻿@{
    ViewBag.Title = "Index";
}
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" ></script>

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section">
                    <h2 class="title">
                        Categories
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("CategoryTable");
        }
    </div>    
    <div id="actionContainer">
        @*show the form to enter data when you click "New" or"Edit" button*@
    </div>
</div>
<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>